Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [2]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [3]:
b()    #Initially,value of a is increamented by 2 as c(a) returns the global var(a) + 2. a = 2
b()    #so, now the global a is increamented by 2 again. a = 4.
b()    #Now, the global a is increamented again by 2. a = 6
a    #therefore, prints the final value of a.

6

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [7]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File "+file_name+" not found.")

In [9]:
file_length('idterm.py')

File idterm.py not found.

Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [13]:
class Marsupial:
    def __init__(self):
        self.dictionary = []
    
    def put_in_pouch(self, item):
        self.dictionary.append(item)
    
    def pouch_contents(self):
        print(self.dictionary)

class Kangaroo(Marsupial):
    def __init__(self, dx, dy):
        self.x = dx
        self.y = dy
        Marsupial.__init__(self)
    
    def jump(self, tdx, tdy):
        self.x += tdx
        self.y += tdy

    def __str__(self):
        string = "I am a Kangaroo located at coordinates (%s, %s)"%(self.x,self.y)
        return string

In [14]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [15]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [1]:
def collatz(dx):
    print(int(dx))
    if int(dx)==1:
        return
    elif dx%2==0:
        return collatz(dx//2)
    else:
        return collatz((3*dx)+1)

In [2]:
collatz(1)

1

In [3]:
collatz(10)

10
5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [4]:
def binary(n):
    if n<2:
        return n
    else:
        return str(binary(n//2)) + str(n%2)

In [5]:
print(binary(0))

0

In [6]:
print(binary(1))

1

In [7]:
print(binary(3))

11

In [8]:
print(binary(9))

1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [7]:
import re
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        global getH
    
        match = re.match(r'h(\d)', tag, re.I)

        if match:
            #print("Encountered a start tag:", tag)
            print(match.group(1))
            getH = int(match.group(1)) 

    def handle_endtag(self, tag):
        match = re.match(r'h(\d)', tag, re.I)

        if match:
            #print("Encountered an end tag :", tag)
            getH = 0

    def handle_data(self, data):
        if getH > 0:
            tab = getH - 1
            out = "\t"*tab
            print(out + data)

In [9]:
getH=0
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

1
W3C Mission


2
	Principles

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [25]:
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
	resp = requests.get(url)
	print(url)
	if(depth == indent):
		return
	soup = BeautifulSoup(resp.text, 'html.parser')
	for link in soup.findAll('a'):
		new_link = link.get('href')
		if(new_link.startswith('http')):
			webdir(new_link, depth, indent+1)


webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
http://reed.cs.depaul.edu/lperkovic/test2.html

Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature
(C)
Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

A) All the temperature data.
SELECT Temperature(C) as temp FROM TABLE

B) All the cities, but without repetition.
SELECT DISTINCT(City) FROM TABLE;

C) All the records for India.
SELECT * FROM TABLE WHERE Country='INDIA';

D) All the Fall records.
SELECT * FROM TABLE WHERE Season='Fall';

E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
SELECT City,Country,Season FROM TABLE WHERE Rainfall (mm) as rainfall BETWEEN 200 AND 400;

F) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
SELECT City,Country,Season FROM TABLE WHERE Rainfall (mm) as temperature > 20 ORDER BY temperature;

G) The total annual rainfall for Cairo.
step 1: Rename the Rainfall (mm) column as rainfall
SELECT Rainfall (mm) AS rainfall,City from TABLE
SELECT SUM (rainfall) FROM TABLE WHERE City = "Cairo";

H) The total rainfall for each season.
SELECT SUM(rainfall) FROM TABLE GROUP BY Season;

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [26]:
def Upper(words):
    for i in range(len(words)):
        #convert every word in uppercase
        words[i]=words[i].upper()


    return words


words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#call function
list_Upper=Upper(words)
#print new list
print(list_Upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [27]:
def Lower(words):
    for i in range(len(words)):
        #convert all words in lowercase
        words[i]=words[i].lower()

    return words


words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#call method Lower()
list_Lower=Lower(words)
#Print new list
print(list_Lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [28]:
def Length(words):
    for i in range(len(words)):
        #convert list having length of each word
        words[i]=len(words[i])

    return words


words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#call method
list_Length=Length(words)
#print new list
print(list_Length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [29]:
def Low_Up_Len(words):
    list=[] #empty list that will store list of upper lower and length of words
    temp=[] #list to create list of each word
    for i in range(len(words)):
        temp.append(words[i].upper())
        temp.append(words[i].lower())
        temp.append(len(words[i]))
        #append temporary list to list
        list.append(temp)

        #initialize temporary list to empty list
        temp=[]


    return list


words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#method call
list=Low_Up_Len(words)

#print new list
print(list)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [30]:
def more_4(words):
    list=[]
    for i in range(len(words)):
        #if word length is 4 or more character
        if len(words[i])>=4:
            
            list.append(words[i])


    return list


words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#call method
list=more_4(words)
#print new list
print(list)

['quick', 'brown', 'jumps', 'over', 'lazy']